<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-6">
                    <app-payment-statistic-mini (payments)="onPaymentsChanged($event)"></app-payment-statistic-mini> 
                </div>
                <div class="col-6">
                    <app-payment-mini></app-payment-mini>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 border border-secondary rounded">
            <h1 class="mb-3"><b><u>Zapłacone rachunki w tym miesiącu</u></b></h1>
            <app-payments-list [payments]="payments"></app-payments-list>
        </div>
    </div>
</div>