<mat-card>
  <mat-card-header>
    <mat-card-title>Zmień hasło</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (keydown.enter)="onSubmit(model)">
      <mat-form-field>
        <input matInput placeholder="Stare password" [(ngModel)]="model.oldPassword" type="password" name="oldPassword"
               required>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Nowe password" [(ngModel)]="model.newPassword" type="password" name="newPassword"
               required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit(model)" color="primary">Wyślij</button>
  </mat-card-actions>
</mat-card>
