<mat-card>
    <mat-card-header>
        <mat-card-title>Zarejestruj się</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (keydown.enter)="onSubmit(model)">
            <mat-form-field>
                <input  matInput  placeholder="Email" [(ngModel)]="model.email"  type="email" name="email"  required>
            </mat-form-field><br />
            <mat-form-field>
                <input  matInput  placeholder="Hasło" [(ngModel)]="model.password"  type="password"  name="password"  required>
            </mat-form-field><br />
            <mat-form-field>
                <input  matInput  placeholder="Imię" [(ngModel)]="model.firstName"  type="text"  name="text"  required>
            </mat-form-field><br />
            <mat-form-field>
                <input  matInput  placeholder="Nazwisko" [(ngModel)]="model.lastName"  type="text"  name="text"  required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button (click)="onSubmit(model)"  color="primary">Załóż konto</button>
    </mat-card-actions>
</mat-card>
